services:
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak
    command: start-dev
    ports:
      - "8080:8080"
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    depends_on:
      - postgres
    volumes:
      - keycloak_data:/opt/keycloak/data
    networks:
      - base-app

  postgres:
    container_name: keycloak-db
    image: postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - base-app

  user-service-postgres:
    image: postgres:15
    container_name: user-service-postgres
    restart: always
    environment:
      POSTGRES_DB: user_service_db
      POSTGRES_USER: user_service_dev
      POSTGRES_PASSWORD: user_service_dev
    ports:
      - "5433:5432" # use 5433 on host to avoid clashing with other Postgres
    volumes:
      - user_service_postgres_data:/var/lib/postgresql/data
    networks:
      - user-service-net



networks:
  base-app:

volumes:
  keycloak_data:
  postgres_data:
  user_service_postgres_data: